<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>VueJS</title>
</head>
<body>
    
    <div id="app">
        <a :href="url">F**k</a>
        <div v-if="showBook">
            <div v-for="book in books">
                <img :src="book.img" alt=""> 
                <p>{{book.title}}</p>
                <p> {{book.author}}</p>
            </div>
        </div>
        <button @click="toggleshowbook">
            <span v-if="showBook">Hide Book</span>
            <span v-else>Show Book</span>
            <!-- <span v-if="!showBook">Show Book</span>  -->
            <!-- !showBook is equal showBook ==false -->
        </button>
       
    </div>
    <script src="app.js"></script>
</body>
</html>


<!-- const app = Vue.createApp({
    //data, function
   data(){
    return {
        showBook:true,
        url:"http://www.leess.com",
        books:[
            {title:'ABC', author:'abc', img:'asset/1.png'},
            {title:'ABCDE', author:'abcde', img:'asset/2.png'},
            {title:'ABCDEFG', author:'abcdefg', img:'asset/3.png'},
        ]
    }
   },
   methods:{
    toggleshowbook(){
        this.showBook = !this.showBook
    }
   }
}) -->
